<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" href="/images/train.png" />
    <title>Ticketac</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="homepage">
        <img
          src="/images/train.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
          loading="lazy"
        />
        Ticketac
      </a>
      <ul class="navbar-nav d-inline-block p-3">
        <li class="nav-item d-inline-block mr-4">
          <a class="nav-link text-danger" href="login">Connection</a>
        </li>
        <li class="nav-item d-inline-block">
          <a class="nav-link text-dark" href="last-trip">My last trips</a>
        </li>
      </ul>
    </nav>

    <div class="container mt-5 px-5">
      <div class="col-12 offset-2">
        <h3 class="text-left mb-4 custom">My last trips :</h3>
      </div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th class="col-md-auto bg-white font-weight-bold">Date</th>
            <th class="col-md-auto bg-white font-weight-bold">Journey</th>
            <th class="col-md-auto bg-white font-weight-bold">
              Departure Time
            </th>
            <th
              class="col-md-auto bg-white font-weight-bold d-flex justify-content-center"
            >
              Price
            </th>
          </tr>
        </thead>
        <tbody>
          <% 
          for (var i=0; i<usercommand.length; i++) { 
            %>
          <tr>
            <td class="bg-white"><%= usercommand[i].departure %> / <%= usercommand[i].arrival %></td>
            <td class="bg-white"><%= usercommand[i].date %></td>
            <td class="bg-white"><%= usercommand[i].departuretime %></td>
            <td class="bg-white d-flex justify-content-center"><%= usercommand[i].price %> €</td>
          </tr>
          <% } %>
            <td class="mt-3"></td>
            <td class="mt-3"></td>
            <td class="mt-3"></td>
            <td class="d-flex justify-content-center">
              <a href="homepage"
                ><button type="button" class="home-btn btn go mt-1">
                  Home
                </button></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer class="mt-auto text-center font-italic">© La Capsule 2020</footer>
  </body>
</html>
